<div class="body">
    <div class="container">
      <div class="navbar">
        <div class="heading">IQ Test Quiz</div>
        <!-- <div class="numbers">Your score : {{score}}</div> -->
        <div class="numbers">Question no. : {{index}}</div>
        <div class="profile" [matMenuTriggerFor]="menu">
          <img src="
          https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQp_BkjB1ha-Et030gKKZIVP52ZvTXDXWdwiQ&usqp=CAU
          "
           width="30" height="30" alt="profile image" />
           <mat-icon >arrow_drop_down</mat-icon>
        </div>
      </div>
    </div>
  </div>



  <mat-menu #menu="matMenu" class="matMenu">
    <button mat-menu-item>View Profile</button>
    <button mat-menu-item>Contact us</button>
    <button mat-menu-item>Help</button>
    <button mat-menu-item (click)="logout()">Log out</button>
  </mat-menu>